.label {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.node:hover, .label:hover {
    cursor:pointer;
}

#force-directed-graph {
    zoom: 75%;
}
#graph-container {
    display: grid;
    place-items: center;
    overflow: scroll;
    height: 500px;
    width: 1000px;
}

.graph-btn {
    margin: 5px 10px;
}

#graph-btns {
    display: flex;
    flex-direction: column;
    align-items: left;
}