.label {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.node:hover, .label:hover {
    cursor:pointer;
}

#force-directed-graph {
    zoom: 75%;
}

#graph-container {
    display: grid;
    place-items: center;
    overflow: scroll;
    height: 500px;
    width: 1000px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
}
.btn-label {
    font-size: 14px;
}

.graph-btn {
    margin: 5px 10px;
}

.graph-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* width */
#graph-container::-webkit-scrollbar {
    background: #E0E0E0;
    border-radius: 10px;
  }
  
  /* Track */
#graph-container::-webkit-scrollbar-track {
    background: #E0E0E0;
    border-radius: 10px;
  }
  
  /* Handle */
#graph-container::-webkit-scrollbar-thumb {
    background: #AAA;
    border-radius: 10px;
  }
  
  /* Handle on hover */
#graph-container::-webkit-scrollbar-thumb:hover {
    background: #BBB;
    border-radius: 10px;
  }