/* this.finnColor = '#1897CA';
        this.bubblegumColor = '#FF61D0';
        this.jakeColor = '#FF971A';
        this.iceColor = '#344980';
        this.BMOColor = '#59877C';
        this.vampireColor = '#851F1D';
        this.flameColor = '#FF4006';
        this.lumpyColor = '#CC93FA';
        this.rainacornColor = '#FFB1FD';
treeTrunkColor = '#B52C33'; */

.finn {
    background: rgb(185, 28, 28);
  }

 body{
  background: #F9F6F0;
 } 

 .charBtn{
  background: none;
  border: none;
  cursor: pointer;
 }
 img {
  padding: 5px;
 }

#Finn :hover{
  background: #4fbde8;
}
#Jake :hover{
  background: #f5b260;
}
#bubblegum :hover{
  background: #f336ba;
}
#flamePrincess :hover{
  background: #d50303c6;
}
#LSP :hover{
  background: #d7adfa;
}
#Rainicorn :hover{
  background: #fb7bf6;
}
#Marciline :hover{
  background: #843a39;
}
#IceKing :hover{
  background: #465a8a;
}
#BMO :hover{
  background: #63857d;
}
#TreeTrunk :hover{
  background: #e3e00a;
}