
  #picture{
    background-image: url(background.png);
  }
  
  

 body{
  background-image: url(pictures\442432.jpg);
 } 

 .charBtn{
  background: none;
  border: none;
  cursor: pointer;
 }
 img {
  padding: 5px;
 }
 .seasonBtn{
  background: rgba(204, 246, 204, 0.877);
  border: none;

 }


        #Finn {
          background: #1897CA;
        }
        #Jake{
          background: #FF971A;
        }
        #IceKing{
          background: #344980;
        }
        #BMO {
          background: #59877C;
        }
        #Marciline{
          background: #851F1D;

        }
      #TreeTrunk{
        background: #E3E00A;

      }
      #LSP{
        background: #CC93FA;

      }
      #flamePrincess{
        background: #FF4006;

      }
      #bubblegum{
        background: #FF61D0;

      }



#Finn :hover{
  background: #4fbde8;
}
#Jake :hover{
  background: #f5b260;
}
#bubblegum :hover{
  background: #f336ba;
}
#flamePrincess :hover{
  background: #d50303c6;
}
#LSP :hover{
  background: #d7adfa;
}
#Rainicorn :hover{
  background: #fb7bf6;
}
#Marciline :hover{
  background: #843a39;
}
#IceKing :hover{
  background: #465a8a;
}
#BMO :hover{
  background: #63857d;
}
#TreeTrunk :hover{
  background: #e3e00a;
}